    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: black;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: #444;
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        background: #ededed;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        height: 257mm;
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    .leftbox, .timeline{
        width: 40mm;
        height: 100%;
        /*background: #deebf7;*/
        float: left; 
        position: relative;
        color: #cf8a05;
        font-style: italic;
        font-size : 1.5em;

    }

    .info{
        height: 20mm;        
    }

    .info-panel {
        float: left;
        height: 100%;        
        position: relative;
        padding-left: 2mm; 
    }

    .timeline{
        height: 166mm;
    }

    .exp{
        height: 40mm;
    }

    /*div{
        border: 2px blueviolet solid
    }*/

    hr{
        border-top: 2px solid  #8c8b8b;
    }

    .ver-center {
        position: absolute;
        top: 50%;  
        margin-right: -50%;
        transform: translate(0, -50%)
    }
    .center {
        position: absolute;     
        top: 50%;             
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .circular-square {
         border-radius: 50%;
    }
    .heading{
        width: 100%;
        text-align: center;
    }
    .timeline-line{
        float: right;
        height: 96%;
        width: 5mm;
        background-color: darkgray;
    }
    .timeline-date{
        float: left;
        width: 32mm;
        text-align: right;   
        font-size: 0.8em;
        color: #444    
    }